.sectionacerca {
    color: white;
    text-align: center;
    padding: 50px;
    background: url(../assets/img/20231206_003322.jpg);
    background-attachment: fixed;
    background-size: cover;
  }
  
  .acerca-container {
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 2px solid #F56FA3;
    background: rgba(0, 0, 0, 0.491);
    padding: 10px;
  }
  
  /* Estilos para el texto de colores */
  .rainbow-text {
    background: linear-gradient(to right, #F56FA3, #F97F85, #F4AFA0);
    -webkit-background-clip: text; /*Para aplicar al texto*/
    color: transparent;
    display: inline-block;
    text-align: justify;
  }